<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         colors="true"
         bootstrap="test/bootstrap.php"
>
    <testsuites>
        <testsuite name="unit-tests">
            <directory suffix="UTest.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">upload</directory>
            <exclude>
                <directory>upload/admin/controller</directory>
                <directory>upload/system</directory>
                <directory>upload/admin/language</directory>
                <directory>upload/catalog/language</directory>
                <directory>test</directory>
                <file>upload/catalog/model/extension/payment/wirecard_pg/helper/pg_order_manager.php</file>
                <file>upload/catalog/model/extension/payment/wirecard_pg/handler/notification_handler.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
