#collapse-payment-method label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#collapse-payment-method input[type=radio]{
    margin-top: 0;
}
