<script id="credit-card-lib" src="{{ base_url }}/engine/hpp/paymentPageLoader.js" type="text/javascript"></script>
<div id="creditcard-form-div"></div>
<script src="catalog/view/javascript/wirecard_pg_credit_card.js" type="text/javascript"></script>