{% if existing_cards %}
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">Use saved credit cards</a></li>
            <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">Enter new credit card</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="existing">
                <div class="list-group">
                    {% for card in existing_cards %}
                        <a class="list-group-item credit-card-selector">
                            <label>
                                <input type="radio" name="token" value="{{ card.token }}" onclick="setToken(this.value)" />
                                {{ card.masked_pan }}
                            </label>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="new">
                {% include 'default/template/extension/payment/wirecard_credit_card_form.twig' with { 'loading_text': loading_text } %}
            </div>
        </div>
    </div>
{% else %}
    {% include 'default/template/extension/payment/wirecard_credit_card_form.twig' with { 'loading_text': loading_text } %}
{% endif %}

<script>window.WirecardPaymentMethod = "{{ type }}"</script>
<script id="credit-card-lib" src="{{ base_url }}/engine/hpp/paymentPageLoader.js" type="text/javascript"></script>
<script src="catalog/view/javascript/wirecard_pg_credit_card.js" type="text/javascript"></script>